extends layout

block content
    header.navbar.navbar-inverse.navbar-fixed-top
        div.container
            div.navbar-header
                a.navbar-brand Regex Bingo
            nav.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a
                            | Welcome {{username}}!
    div.container.regex-container
        div.content
            div.panel.panel-primary
                div.panel-heading
                    | User Information
                div.panel-body
                    div.form-group
                        label.col-sm-2.control-label(for="name") Username:
                        div.col-sm-10
                            input.form-control(type="text", name="name", ng-model="username", ng-sumbit="sendUsername", ng-init='username="'+username+'"')