extends layout

block content
    header.navbar.navbar-inverse.navbar-fixed-top
        div.container
            div.navbar-header
                a.navbar-brand Regex Bingo
    div.container.regex-container
        div.content
            | Remember
            br
            | --Never forget
            br
            | America