extends layout

block content
    div.top
        header.navbar.navbar-inverse.navbar-fixed-top
            div.container
                div.navbar-header
                    a.navbar-brand Regex Bingo
    div.container
        div.content